*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
a{
    color: #e9ecef;
    font-weight: bold;
    gap: 1pc;
}
a:hover{
    border-bottom: 2px solid #fff;
    font-weight: 700;
}
h1{
    transition: all ease-in-out .2s;
    color:#020330;
}
ul{
    display: flex;
    gap: 45px;
}
.titulo{
    display: flex;
    margin-left: -83px;
    font-size: 25px;
    color: #e9ecef;
}
::-webkit-scrollbar{
    height: 1pc;
    width: 1pc;
}
::-webkit-scrollbar-thumb{
    height: 1pc;
    width: 1pc;
    background-color: #c9c9c5be;
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    padding: 17px 60px;
    background-color: #03045e;
    font-size: 15px;
}
body{
    background-color: #ced4da;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
    border-top: none;
    border-bottom: none;
    flex-direction: column;
    gap: 1pc;
}
#SixthSection{
    border-bottom: none;
}
input[type="number"], input[type="text"] {
    width: 250px; 
    padding: 10px; 
    margin: 10px 0; 
    border: 2px solid #ccc; 
    border-radius: 5px; 
    background-color: #fff; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    outline: none; 
    transition: all 0.3s ease;
}

button {
    cursor: pointer;
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    background-color: #023e8a;
    color: #fff;
    font-size: 15px;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #03045e;
    animation: pulse 1s infinite;
}
.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 88px;
    border: 2px solid #ccc; 
    gap: 1pc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    background-color:#e9ecef ;
    -webkit-animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: scale-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    border-radius: 10px;
}

div:hover h1{
    font-size: 29px;
    transition:ease-out .2s;
}
.logo{
    width: 60px;
}
.active {
    display: none;
}
.resultado{
    color: #020330;
    font-weight: bold;
    font-size: 20px;
    -webkit-animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: focus-in-expand 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}
  
 @-webkit-keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }
  @keyframes scale-in-bottom {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
      opacity: 1;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2024-8-1 11:38:17
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation focus-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes focus-in-expand {
    0% {
      letter-spacing: -0.5em;
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  
  
.list{
    color: #fff;
    display: flex;
}

@media screen and (max-width: 1326px) {

    .logo{
        display: none ;

    }
    .container{
        display: flex;
        justify-content: space-around;
        
        padding-left: 6pc;
    }
    .list{
        display: none;
    }
 }
/* Medium */
@media screen and (max-width: 1193px) {
   ul{
    gap: 32px;
   }
}
@media screen and (max-width: 1032px) {
  .titulo{
    font-size: 18px;
  }
  ul{
    font-size: 14px;
  }
}
/* large */
@media screen and (max-width: 940px) 
{
.list{
    display: none;
}
.titulo{
    font-size: 18px;
  }
  ul{
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
.container{
        width: 100vw;
    }
    .div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}  
  
